
html, body
{
    height: 100%;
    overflow: hidden;
}


div.container-fluid
{
    padding-top: 56px;
}


div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}


div.col
{
    padding-left: 0;
    padding-right: 0;
}

form
{
    padding: 15px;
}


pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}

span
{
    background-color: #ff0;
}